{:dag-wave {:requested :dag-wave :registered? true :initialized? true :methods {:dag-wave true :saa true :forge-belt true} :owned? true :step-owner "hive.workflows.strategy" :plan-owner "hive.workflows.strategy" :valid? true :phase nil :unknown? false :inherited :saa :explicit :dag-wave :default :saa :shutdown? true :removed? true :witness? true}
 :saa {:requested :saa :registered? true :initialized? true :methods {:dag-wave true :saa true :forge-belt true} :owned? true :step-owner "hive.workflows.strategy" :plan-owner "hive.workflows.strategy" :valid? true :phase nil :unknown? false :inherited :saa :explicit :saa :default :saa :shutdown? true :removed? true :witness? true}
 :forge-belt {:requested :forge-belt :registered? true :initialized? true :methods {:dag-wave true :saa true :forge-belt true} :owned? true :step-owner "hive.workflows.strategy" :plan-owner "hive.workflows.strategy" :valid? true :phase nil :unknown? false :inherited :saa :explicit :forge-belt :default :saa :shutdown? true :removed? true :witness? true}
 :unknown {:requested :not-installed :registered? true :initialized? true :methods {:dag-wave true :saa true :forge-belt true} :owned? true :step-owner "hive.workflows.strategy" :plan-owner "hive.workflows.strategy" :valid? false :phase :fields :unknown? true :inherited nil :explicit nil :default nil :shutdown? true :removed? true :witness? true}}
